// GLOBAL VARIABLES

// Typography
$font-size-general: 15px;
$line-height-general: 1.9;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// Colour
$color-white: #FFFFFF;
$color-title: #0C0C0C;
$color-general: #2E2E2E;
$color-label: #787878;
$color-descrete: #A8A8A8;
$color-disabled: #B6B6B6;
$color-border: #CBCBCB;
$color-cta-solid: #2BBB13;
$color-cta-text: #30A81C;
$color-ok-solid: #2E94C4;
$color-ok-text: #2A8CBA;
$color-warning-solid: #EC6868;
$color-warning-text: #DB6363;