body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: none;
}

.layout-wrapper {
    max-width: 680px;
    margin: 0 auto;
    padding: 6rem 2rem;
}

.layout-header {
    border-bottom: 1px solid lighten($color-border, 15);
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
    z-index: 20000;
    h1 {
        @include logo();
        line-height: 60px;
        float: left;
        margin-left: 2rem;
    }
    span {
        @include text-label();
        float: right;
        line-height: 60px;
        float: right;
        margin-right: 2rem;
    }
}