// MIXINS

// Base font size
$base-font-size-for-rem-calc: 16;
@mixin rem-polyfill($desired-rem-size) {
    font-size: ($desired-rem-size * $base-font-size-for-rem-calc) + px;
    font-size: $desired-rem-size + rem;
}

@mixin font-size($desired-pixel-size) {
    $desired-rem-size: $desired-pixel-size / $base-font-size-for-rem-calc;
    font-size: ($desired-rem-size * $base-font-size-for-rem-calc) + px;
    font-size: $desired-rem-size + rem;
}

// Reset list stlying
@mixin remove-list-styling() {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;

    }
}

@mixin logo() {
    font-weight: $font-weight-semibold;
    @include font-size(21);
    color: $color-title;
    letter-spacing: 0.2px;
}

@mixin text-main() {
    color: $color-general;
    letter-spacing: 0.4px;
}

@mixin text-menulist() {
    font-weight: $font-weight-semibold;
    @include font-size(15);
    color: $color-title;
    letter-spacing: 0.3px;
}

@mixin text-disabled() {
    color: $color-disabled;
    letter-spacing: 0.3px;
}

@mixin text-placeholder() {
    color: $color-placeholder;
    letter-spacing: 0.3px;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@mixin text-dropdown() {
    @include font-size(13);
    color: $color-dropdown;
    letter-spacing: 0.4px;
}

@mixin text-label() {
    @include font-size(12);
    color: $color-label;
    letter-spacing: 0.4px;
}

@mixin text-descrete() {
    @include font-size(13);
    color: $color-descrete;
    letter-spacing: 0.4px;
}