.cf {
    &:before, &:after {
        content:" ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.inline {
    @include remove-list-styling;
    width: 100%;
    li {
        display: inline-block;
    }
}

ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}