// GLOBAL VARIABLES

// Typography
$font-size-general: 15px;
$line-height-general: 1.9;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// Colour
$color-white: #FFFFFF;
$color-title: #0C0C0C;
$color-general: #2E2E2E;
$color-label: #787878;
$color-descrete: #A8A8A8;
$color-disabled: #B6B6B6;
$color-border: #CBCBCB;
$color-cta-solid: #12d758;
$color-cta-text: darken($color-cta-solid, 5);
$color-ok-solid: #4eaddf;
$color-ok-text: darken($color-ok-solid, 5);
$color-warning-solid: #f46374;
$color-warning-text: darken($color-warning-solid, 5);