// For styleguide layout purposes only
.styleguide-section {
    padding-bottom: 4rem;
}

.styleguide-header {
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid lighten($color-border, 15);
    h1 {
        @include text-menulist();
    }
    span {
        @include text-descrete();
    }
}

.styleguide-text {
    margin-bottom: 0.7rem;
}