.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
    &.open .dropdown-button {
        color: $color-title;
    }
 }

.dropdown-button {
    background: none;
    border: none;
    padding: 0;
    @include text-label();
    &:hover {
        color: $color-ok-text;
    }
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 160px;
    margin: 7px 0 0;
    list-style: none;
    border-radius: 5px;
    padding: 0.5rem 0;
    box-shadow: 0px 0px 5px 0px $color-border;
    @include text-label();
    line-height: 2.5;
    background: #fff;
    li {
        display: block;
        padding: 0rem 1.25rem;
        cursor: pointer;
        &:hover {
            color: $color-ok-text;
        }
    }
}

.dropdown-left .dropdown-menu {
    right: -0.5rem;
}

.dropdown-right .dropdown-menu {
    left: -0.5rem;
}