.form-item {
    margin-bottom: 1rem;
}

.form-label {
    @include text-label();
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    @include text-main();
    border: 2px solid $color-border;
    @include transition (all 0.12s linear);
    &:placeholder-shown {
        @include text-placeholder();
    }
    &:hover {
        border: 2px solid darken($color-border, 15);
    }
    &:focus {
        border: 2px solid $color-ok-solid;
    }
}

.form-error {
    .form-label {
        @include text-label();
        color: $color-warning-text;
    }
    .form-input {
        border: 2px solid $color-warning-solid;
    }
}

label.form-checkbox:hover {
    cursor: pointer;
    color: $color-ok-text;
    span {
        border: 2px solid darken($color-border, 15);
    }
}

.form-checkbox {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    @include transition (all 0.12s linear);
    span {
        width: 20px;
        height: 20px;
        display: block;
        background: $color-white;
        border: 2px solid $color-border;
        @include transition (all 0.12s linear);
        float: left;
        margin-right: 0.5rem;
    }
    input {
        display: none;
        &:checked + span.form-checkbox-ghost {
            background: $color-ok-solid;
            border: 2px solid $color-ok-solid;
        }
    }
}