.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255, .95);
    display: table;
    transition: opacity .16s linear;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    max-width: 480px;
    margin: 0px auto;
    padding: 1.5rem 2rem 1.8rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #C5C5C5;
    transition: all .12s ease-in;
}

.modal-header {
    position: relative;
}




.modal-full {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    display: table;
    transition: opacity .12s linear;
}

.modal-full-wrapper {
    padding: 6rem 2rem;
    margin: 0 auto;
    max-width: 640px;
    box-sizing: inherit;
    position: relative;
    transition: all .12s ease-in;
    .modal-close {
        top: 6.2rem;
        right: -4rem;
        transform: translate(0, 0);
    }
}

.modal-close {
    //background-color:lime;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    &:hover {
        cursor: pointer;
        span {
            background-color: $color-title;
        }
    }
    span {
        position: absolute;
        Z-index: 1;
        width: 2px;
        height: 28px;
        top: -1px;
        margin-left: 12px;
        background-color: $color-border;
        transition: all .12s linear;
        display: block;
        &:first-child {
            transform: rotate(45deg);
        }
        &:last-child {
            transform: rotate(135deg);
        }
    }
}

.modal-body {
    padding: 1rem 0 2rem 0;
}

.modal-default-button {
    float: right;
}

// Vue generated transition styles

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
}

.modal-enter .modal-full-wrapper,
.modal-leave .modal-full-wrapper {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
}