.row {
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 1px solid lighten($color-border, 15);
}

.row-item {
    width: 100%;
    background: $color-white;
    border-bottom: 1px solid lighten($color-border, 15);
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
    img {
        height: 40px;
        width: 40px;
        float: left;
    }
}

.row-title {
    @include text-menulist();
    line-height: 40px;
    margin-left: 20px;
}