.sort-item {
    &:hover {
        cursor: move;
        opacity: 1;
        color: $color-ok-text;
        .sort-drag {
            opacity: 1;
        }
    }
}

.sortable-chosen {
    opacity: 0.5;
}

.sort-drag {
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    width: 20px;
    text-align: right;
    opacity: 0.3;
    @include transition (all 0.12s linear);
}

.sort-ghost {
    opacity: 0.1;
}