ul.sort {
    list-style: none;
    padding: 0;
}

li.sort-item {
    padding: 10px;
    width: 25%;
    float: left;
    margin: 0 10px 10px 0;
    background: #EFEFEF;
    border: solid 1px #CCC;
}

.sort-ghost {
    opacity: 0.3;
    transition: all 0.7s ease-out;
}